:root{
    /* Fonts */
    --font-montserrat : 'Montserrat', sans-serif;
    --font-fraunces : 'Fraunces', serif;

    /* Colors Primary*/
    --dark-cyan : hsl(158, 36%, 37%);
    --cream : hsl(30, 38%, 92%);
    
    /*Colors Neutral*/
    --dark-blue : hsl(212, 21%, 14%);
    --grasyish-blue : hsl(228, 12%, 48%);
    --just-white : hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--cream);
}

main{
    display: grid;
    place-content: center;
}

.product-detail-card{
    min-width: 290px;
    max-width: 400px;
    display: grid;
    grid-template-rows: 250px 380px;
    background-color: var(--just-white);
    border-radius: 15px;
    margin: 15px;
}

.product--img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.product--info{
    padding: 15px;
    margin-top: 5px;
}

.info--category {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.4rem;
    color: var(--grasyish-blue);
    margin-bottom: 10px;
}

.info--product-title{
    font-size: 3.0rem;
    font-family: var(--font-fraunces);
    font-weight: 700;
    line-height: 3.4rem;
    color: var(--dark-blue);
    margin-bottom: 15px;
}

.info--text{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: var(--grasyish-blue);
    margin-bottom: 20px;
}

.info--price{
    font-size: 3.0rem;
    font-family: var(--font-fraunces);
    font-weight: 700;
    color: var(--dark-cyan);
    margin-bottom: 15px;
}

.info--price sup{
    font-size: 1.4rem;
    margin-left: 20px;
    font-weight: 500;
    color: var(--grasyish-blue);
}  

.info--add-button{
    height: 50px;
    width: 100%;
    font-size: 1.7rem;
    font-weight: 700;
    background-color: var(--dark-cyan);
    color: var(--just-white);
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info--add-button img{
    margin-right: 10px;
}

@media (min-width: 340px) {
    .product-detail-card{
        grid-template-rows: 250px 360px;
    }
}

@media (min-width: 370px){
    .product-detail-card{
        grid-template-rows: 250px 340px;
    }
}

@media (min-width: 1000px) {

    main{
        height: 100vh;
    }

    .product-detail-card{
        max-width: 600px;
        grid-template-columns: 300px 300px;
        grid-template-rows: auto;
    }

    .product--info{
        padding: 25px;
        margin-top: 5px;
    }
    
    .info--category {
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 0.4rem;
        color: var(--grasyish-blue);
        margin-top: 5px;
        margin-bottom: 20px;
    }
    
    .info--product-title{
        margin-bottom: 25px;
    }
    
    .info--text{
        margin-bottom: 25px;
    }
    
    .info--price{
        margin-bottom: 20px;
    }
    
    .info--add-button{
      margin-bottom: 10px;
    }
}