:root{
    /* Fonts */
    --font-montserrat : 'Montserrat', sans-serif;
    --font-fraunces : 'Fraunces', serif;

    /* Colors Primary*/
    --dark-cyan : (158, 36%, 37%);
    --cream : hsl(30, 38%, 92%);
    
    /*Colors Neutral*/
    --dark-blue : hsl(212, 21%, 14%);
    --grasyish-blue : hsl(228, 12%, 48%);
    --just-white : hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}